<div class="section section--pricing">

  <ul class="pricing-list"><!--

    {% for pricing in site.pricing %}

  --><li class="pricing-list__item">

        <div class="pricing__item pricing {% if pricing.promote %} pricing--highlight {% endif %}">

          <h2 class="pricing__name">{{ pricing.name }}</h2>
          <p class="pricing__cost">&euro;{{ pricing.cost }}</p>
          <p class="pricing__duration"><strong>Duration:</strong> {{ pricing.duration }}</p>

        </div>

      </li><!--

    {% endfor %}

  --></ul>

</div>
